html /deep/ .xx-grid {
    width: 100%:
    margin-left: 0;
    margin-right: 0;
}
html /deep/ .xx-grid:after {
    content: "";
    display: table;
    clear: both;
}
html /deep/ .xx-grid > .col {
    float: left;
    margin-left: 0;
    margin-right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 1px; /*prevent empty cols from collapsing*/
}

@media (max-width: 480px) {
  html /deep/ .xx-grid > .col.xs0 {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 719px) {
  html /deep/ .xx-grid > .col.s0 {
    display: none;
  }
}

@media (min-width: 720px) and (max-width: 1024px) {
  html /deep/ .xx-grid > .col.m0 {
    display: none;
  }
}

@media (min-width: 1025px) {
  html /deep/ .xx-grid > .col.l0 {
    display: none;
  }
}


html /deep/ .xx-grid > .col.s5 {
    width: 5%;
}

html /deep/ .xx-grid > .col.s10 {
    width: 10%;
}

html /deep/ .xx-grid > .col.s15 {
    width: 15%;
}

html /deep/ .xx-grid > .col.s20 {
    width: 20%;
}

html /deep/ .xx-grid > .col.s25 {
    width: 25%;
}

html /deep/ .xx-grid > .col.s30 {
    width: 30%;
}

html /deep/ .xx-grid > .col.s33 {
    width: 33.33%;
}

html /deep/ .xx-grid > .col.s35 {
    width: 35%;
}

html /deep/ .xx-grid > .col.s40 {
    width: 40%;
}

html /deep/ .xx-grid > .col.s45 {
    width: 45%;
}

html /deep/ .xx-grid > .col.s50 {
    width: 50%;
}

html /deep/ .xx-grid > .col.s55 {
    width: 55%;
}

html /deep/ .xx-grid > .col.s60 {
    width: 60%;
}

html /deep/ .xx-grid > .col.s65 {
    width: 65%;
}

html /deep/ .xx-grid > .col.s66 {
    width: 66.66%;
}

html /deep/ .xx-grid > .col.s70 {
    width: 70%;
}

html /deep/ .xx-grid > .col.s75 {
    width: 75%;
}

html /deep/ .xx-grid > .col.s80 {
    width: 80%;
}

html /deep/ .xx-grid > .col.s85 {
    width: 85%;
}

html /deep/ .xx-grid > .col.s90 {
    width: 90%;
}

html /deep/ .xx-grid > .col.s95 {
    width: 95%;
}

html /deep/ .xx-grid > .col.s100 {
    width: 100%;
}


@media (max-width: 480px) {

html /deep/ .xx-grid > .col.xs5 {
    width: 5%;
}

html /deep/ .xx-grid > .col.xs10 {
    width: 10%;
}

html /deep/ .xx-grid > .col.xs15 {
    width: 15%;
}

html /deep/ .xx-grid > .col.xs20 {
    width: 20%;
}

html /deep/ .xx-grid > .col.xs25 {
    width: 25%;
}

html /deep/ .xx-grid > .col.xs30 {
    width: 30%;
}

html /deep/ .xx-grid > .col.xs33 {
    width: 33.33%;
}

html /deep/ .xx-grid > .col.xs35 {
    width: 35%;
}

html /deep/ .xx-grid > .col.xs40 {
    width: 40%;
}

html /deep/ .xx-grid > .col.xs45 {
    width: 45%;
}

html /deep/ .xx-grid > .col.xs50 {
    width: 50%;
}

html /deep/ .xx-grid > .col.xs55 {
    width: 55%;
}

html /deep/ .xx-grid > .col.xs60 {
    width: 60%;
}

html /deep/ .xx-grid > .col.xs65 {
    width: 65%;
}

html /deep/ .xx-grid > .col.xs66 {
    width: 66.66%;
}

html /deep/ .xx-grid > .col.xs70 {
    width: 70%;
}

html /deep/ .xx-grid > .col.xs75 {
    width: 75%;
}

html /deep/ .xx-grid > .col.xs80 {
    width: 80%;
}

html /deep/ .xx-grid > .col.xs85 {
    width: 85%;
}

html /deep/ .xx-grid > .col.xs90 {
    width: 90%;
}

html /deep/ .xx-grid > .col.xs95 {
    width: 95%;
}

html /deep/ .xx-grid > .col.xs100 {
    width: 100%;
}

}


@media (min-width: 720px) and (max-width: 1024px) {

html /deep/ .xx-grid > .col.m5 {
    width: 5%;
}

html /deep/ .xx-grid > .col.m10 {
    width: 10%;
}

html /deep/ .xx-grid > .col.m15 {
    width: 15%;
}

html /deep/ .xx-grid > .col.m20 {
    width: 20%;
}

html /deep/ .xx-grid > .col.m25 {
    width: 25%;
}

html /deep/ .xx-grid > .col.m30 {
    width: 30%;
}

html /deep/ .xx-grid > .col.m33 {
    width: 33.33%;
}

html /deep/ .xx-grid > .col.m35 {
    width: 35%;
}

html /deep/ .xx-grid > .col.m40 {
    width: 40%;
}

html /deep/ .xx-grid > .col.m45 {
    width: 45%;
}

html /deep/ .xx-grid > .col.m50 {
    width: 50%;
}

html /deep/ .xx-grid > .col.m55 {
    width: 55%;
}

html /deep/ .xx-grid > .col.m60 {
    width: 60%;
}

html /deep/ .xx-grid > .col.m65 {
    width: 65%;
}

html /deep/ .xx-grid > .col.m66 {
    width: 66.66%;
}

html /deep/ .xx-grid > .col.m70 {
    width: 70%;
}

html /deep/ .xx-grid > .col.m75 {
    width: 75%;
}

html /deep/ .xx-grid > .col.m80 {
    width: 80%;
}

html /deep/ .xx-grid > .col.m85 {
    width: 85%;
}

html /deep/ .xx-grid > .col.m90 {
    width: 90%;
}

html /deep/ .xx-grid > .col.m95 {
    width: 95%;
}

html /deep/ .xx-grid > .col.m100 {
    width: 100%;
}

}

@media (min-width: 1025px) {

html /deep/ .xx-grid > .col.l5 {
    width: 5%;
}

html /deep/ .xx-grid > .col.l10 {
    width: 10%;
}

html /deep/ .xx-grid > .col.l15 {
    width: 15%;
}

html /deep/ .xx-grid > .col.l20 {
    width: 20%;
}

html /deep/ .xx-grid > .col.l25 {
    width: 25%;
}

html /deep/ .xx-grid > .col.l30 {
    width: 30%;
}

html /deep/ .xx-grid > .col.l33 {
    width: 33.33%;
}

html /deep/ .xx-grid > .col.l35 {
    width: 35%;
}

html /deep/ .xx-grid > .col.l40 {
    width: 40%;
}

html /deep/ .xx-grid > .col.l45 {
    width: 45%;
}

html /deep/ .xx-grid > .col.l50 {
    width: 50%;
}

html /deep/ .xx-grid > .col.l55 {
    width: 55%;
}

html /deep/ .xx-grid > .col.l60 {
    width: 60%;
}

html /deep/ .xx-grid > .col.l65 {
    width: 65%;
}

html /deep/ .xx-grid > .col.l66 {
    width: 66.66%;
}

html /deep/ .xx-grid > .col.l70 {
    width: 70%;
}

html /deep/ .xx-grid > .col.l75 {
    width: 75%;
}

html /deep/ .xx-grid > .col.l80 {
    width: 80%;
}

html /deep/ .xx-grid > .col.l85 {
    width: 85%;
}

html /deep/ .xx-grid > .col.l90 {
    width: 90%;
}

html /deep/ .xx-grid > .col.l95 {
    width: 95%;
}

html /deep/ .xx-grid > .col.l100 {
    width: 100%;
}

}

html /deep/ .h-align-center {
    text-align: center;
}

html /deep/ .h-align-left {
    text-align: left;
}

html /deep/ .h-align-right {
    text-align: right;
}

html /deep/ .v-align-middle {
    vertical-align: middle;
}

html /deep/ .v-align-top {
    vertical-align: top;
}

html /deep/ .v-align-bottom {
    vertical-align: bottom;
}
